<agm-map [latitude]="lat" [longitude]="lng" id="map" (mapClick)="mapClicked($event)">
	<agm-marker *ngFor="let m of markers; let i = index"
	          	[latitude]="m.lat"
	          	[longitude]="m.lng"></agm-marker>

  <agm-polygon [paths]="path"></agm-polygon>    	
</agm-map>

<md-card class="controls-card">
  <md-card-header>
    <md-card-title>Список маршрутов:</md-card-title>
  </md-card-header>

  <md-card-content>
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.
  </md-card-content>

  <md-card-actions>
    <button md-button>Добавить</button>
    <button md-button>Сбросить</button>
  </md-card-actions>
</md-card>